tensorflow-datasets
tensorflow-addons
tensorflow-privacy==0.8.5
tensorflow-probability
notebook
pandas
scikit-learn
shap
matplotlib
seaborn
scipy
statsmodels
scikit-image
graphviz
pydot
xlrd
openpyxl
keras-cv
transformers
onnxruntime
tf2onnx
opencv-python